*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Tektur&display=swap');
@import "./styles/_variables";
@import "./styles/_formulario";
@import "./styles/_header";